{% extends "base.html" %}

{% block content %}

    <div class="row">

        <div class="col-12">

                <h3>{{ post.title }}</h3>
                <p>{{ moment(post.created_on).format('LLL') }} -
                    <a href="{{ url_for('user', username=post.post_user.username) }}">
                        {{ post.post_user.username }}
                    </a>
                </p>

                <p>{{ post.content }}</p>

        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}